<div class="panel panel-login">
    <div class="panel-body col-md-8">
        <h2>Login to your account</h2>
        <form class="form-horizontal" name="LoginForm" ng-submit="LoginForm.$valid && loginUser()" novalidate >
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Username:</label>
                <div class="col-sm-6">
                    <input type="text"  class="form-control" name="username" ng-model="user.username" placeholder="Username" required>
                    <span class="text-danger" ng-messages="LoginForm.username.$error" ng-if="LoginForm.username.$touched || LoginForm.$submitted">
                        <span ng-message="required">*Username is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="password">Password:</label>
                <div class="col-sm-6">
                    <input type="password" class="form-control" name="password" placeholder="Password" ng-model="user.password" required>
                    <span class="text-danger" ng-messages="LoginForm.password.$error" ng-if="LoginForm.password.$touched || LoginForm.$submitted">
                        <span ng-message="required">*Password is required.</span>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Go Chat</button>
                </div>
            </div>


        </form>
    </div>
</div>
