<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                </div>
                <div class="panel-body" scroll-glue="glued">
                    <ul class="chat" ng-repeat="chat in chatMessages">
                        <li class="left clearfix" ng-if="chat.username == 'Denny'"><span class="chat-img pull-left">
                                <img src="img/group-main-sub-person.png" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{chat.username}}</strong> <small class="pull-right text-muted">
                                    <span class="glyphicon glyphicon-time"></span>{{chat.date | date : 'MMM d, y h:mm'}}</small>
                                </div>
                                <p>
                                    {{chat.text}}
                                </p>
                            </div>
                        </li>
                        <li class="right clearfix" ng-if="chat.username == 'Nilesh'"><span class="chat-img pull-right">
                                <img src="img/profile-pics.png" alt="User Avatar" class="img-circle" />
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{chat.date | date : 'MMM d, y h:mm'}}</small>
                                    <strong class="pull-right primary-font">{{chat.username}}</strong>
                                </div>
                                <p class="pull-right">
                                    {{chat.text}}
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." ng-model="message" ng-keyup="$event.keyCode == 13 ? postMessage() : null" />
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat" ng-click="postMessage()">
                                Send
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
