<!-- public/index.html -->
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <base href="/">

        <title>Angular Chat</title>

        <!-- CSS -->
        <link rel="stylesheet" href="libs/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="libs/ngToast/dist/ngToast.min.css">
        <link rel="stylesheet" href="css/style.css">  

        <!-- JS -->
        <script src="libs/angular/angular.min.js"></script>
        <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
        <script src="libs/angular-ui-router/release/stateEvents.js"></script>
        <script src="libs/angular-messages/angular-messages.js"></script>
        <script src="libs/ngToast/dist/ngToast.min.js"></script>
        <script src="libs/angular-sanitize/angular-sanitize.min.js"></script>
        <script src="libs/ngstorage/ngStorage.min.js"></script>
        <script src="libs/angular-scroll-glue/src/scrollglue.js"></script>
       
        <!-- ANGULAR CUSTOM -->
        <script src="js/controllers/main.js"></script>
        <script src="js/controllers/login.js"></script>
        <script src="js/services/mockdata.service.js"></script>
        <script src="js/appRoutes.js"></script>
        <script src="js/app.js"></script>
    </head>
    <body ng-app="chatApplication">
        <div class="container">

            <!-- HEADER -->
            <nav class="navbar navbar-inverse" ng-controller="MainController">
                <div class="navbar-header">
                    <a class="navbar-brand">Angular Chat Application</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" ng-if="user_detail">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="" ng-click="logout();">Logout</a></li>
                    </ul>
                </div>
            </nav>

            <!-- ANGULAR DYNAMIC CONTENT -->
            
            <ui-view></ui-view>

        </div>
        <toast></toast>
    </body>
</html>
